.centrar{
    text-align: center;
}
.manita{
    cursor:pointer;
}

i.material-icons{
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    box-shadow: 2px 2px;

}

i.material-icons:hover{
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
    box-shadow: 0px 0px;
}

.div-card {
    width: 25%;
    height: 175px;
    float: left;
    padding: 20px;
    margin: 5px;
    border-style: outset;
    color:palevioletred;
    box-shadow: 3px 3px;


}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; 
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    /* Black w/ opacity */
  }
  .modal2-content {
    /* background-color: #fefefe;  */
    margin: 5% auto;  
    padding: 50px;
    border-style: outset;
    color:palevioletred;
    width: 80%;  
  }
  .cardmostrar{
    background-color: #5f5f5f; 
    margin: 5% auto;  
    padding: 20px;
    border: 2px solid #888;
    
    width: 80%;  
      z-index: -1;
  }
  .div-usercard{
      width: 30%;
      height: 620px;
      float: left;
      padding: 20px;
      margin: 5px;
      border-style: outset;
      box-shadow: 2px 2px;
      text-align: center;

  }
  .div-leercuento{
    text-align: center;
    padding: 40px;

  }
  .crearCuento{
    padding: 5%;
  }
  .inputComentarios{
    padding: 40px;
    size: 40px;
    
  }
 .carousel {
  margin: 20px;
  padding: 100px;
  
 }
 /* .imgCarousel{
   width: 600px;
   height: 600px;
 } */
 .div-carousel {
  text-align: center;
  
 }

.col-sm-6{
  text-align: center;
  padding: 150px;
  vertical-align: text-bottom
}
.centrar{
  text-align: center;

}
body {
  font-family: 'Open Sans', sans-serif;
  }
  .login{
    text-align: right
  }

  .form-gradient .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
  
  .form-gradient input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    -webkit-box-shadow: 0 1px 0 0 #fd9267;
    box-shadow: 0 1px 0 0 #fd9267; }
  
  .form-gradient input[type=text]:focus:not([readonly]) + label {
    color: #4f4f4f; }
  
  .form-gradient input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    -webkit-box-shadow: 0 1px 0 0 #fd9267;
    box-shadow: 0 1px 0 0 #fd9267; }
  
  .form-gradient input[type=password]:focus:not([readonly]) + label {
    color: #4f4f4f; }